<section class="benefits section">
  <div class="container">
    <h2 class="section-title visually-hidden">Our benefits</h2>
    <ul class="benefits-list list">
      <li class="benefits-item">
        <div class="benefits-icon-wrapper">
          <svg class="benefits-icon">
            <use href="../img/sprite.svg#antenna"></use>
          </svg>
        </div>
        <h3 class="benefits-subtitle">Strategy</h3>
        <p class="benefits-text">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-icon-wrapper">
          <svg class="benefits-icon">
            <use href="../img/sprite.svg#clock"></use>
          </svg>
        </div>
        <h3 class="benefits-subtitle">Punctuality</h3>
        <p class="benefits-text">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-icon-wrapper">
          <svg class="benefits-icon">
            <use href="../img/sprite.svg#diagram"></use>
          </svg>
        </div>
        <h3 class="benefits-subtitle">Diligence</h3>
        <p class="benefits-text">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-icon-wrapper">
          <svg class="benefits-icon">
            <use href="../img/sprite.svg#astronaut"></use>
          </svg>
        </div>
        <h3 class="benefits-subtitle">Technologies</h3>
        <p class="benefits-text">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
