<section class="customers section">
  <div class="container">
    <h2 class="customers-title section-title text-centered">Customers</h2>
    <ul class="customers-list list">
      <li class="customer-item">
        <a class="customer-link" href="">
          <svg class="customer-icon">
            <use href="../img/sprite.svg#logo_ya_co"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a class="customer-link" href="">
          <svg class="customer-icon">
            <use href="../img/sprite.svg#logo_company_taglinehere"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a class="customer-link" href="">
          <svg class="customer-icon">
            <use href="../img/sprite.svg#logo_company"></use>
          </svg>
        </a>
      </li>

      <li class="customer-item">
        <a class="customer-link" href="">
          <svg class="customer-icon">
            <use href="../img/sprite.svg#logo_foster_peters"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a class="customer-link" href="">
          <svg class="customer-icon">
            <use href="../img/sprite.svg#logo_brand"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a class="customer-link" href="">
          <svg class="customer-icon">
            <use href="../img/sprite.svg#logo_company_tag_line"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
