<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo link"> <span>Web</span>Studio </a>
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link link current" href="./index.html">Studio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="./portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <address class="address">
      <ul class="address-list list">
        <li class="address-item">
          <a class="address-link link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="address-item">
          <a class="address-link link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
  </div>
</header>
