<section class="team section">
  <div class="container">
    <h2 class="section-title text-centered">Our Team</h2>
    <ul class="team-list list">
      <li class="team-list-item text-centered">
        <img
          src="../img/markguerrero.jpg"
          alt="Product designer Mark Guerrero"
          width="264"
        />
        <div class="team-item-thumb">
          <h3 class="team-subtitle">Mark Guerrero</h3>
          <p class="team-item-text">Product Designer</p>
          <load ="./socials.html" />
        </div>
      </li>
      <li class="team-list-item text-centered">
        <img
          src="../img/tomford.jpg"
          alt="Frontend Developer Tom Ford"
          width="264"
        />
        <div class="team-item-thumb">
          <h3 class="team-subtitle">Tom Ford</h3>
          <p class="team-item-text">Frontend Developer</p>
          <load ="./socials.html" />
        </div>
      </li>
      <li class="team-list-item text-centered">
        <img
          src="../img/camilagarcia.jpg"
          alt="Marketing Camila Garcia"
          width="264"
        />
        <div class="team-item-thumb">
          <h3 class="team-subtitle">Camila Garcia</h3>
          <p class="team-item-text">Marketing</p>
          <load ="./socials.html" />
        </div>
      </li>
      <li class="team-list-item text-centered">
        <img
          src="../img/danielwilson.jpg"
          alt="UI Designer Daniel Wilson"
          width="264"
        />
        <div class="team-item-thumb">
          <h3 class="team-subtitle">Daniel Wilson</h3>
          <p class="team-item-text">UI Designer</p>
          <load ="./socials.html" />
        </div>
      </li>
    </ul>
  </div>
</section>
