<section class="illustrations">
  <div class="container">
    <h2 class="section-title text-centered">What are we doing</h2>
    <ul class="illustrations-list list">
      <li class="illustrations-item">
        <img src="../img/desctop.jpg" alt="Desctop solutions" width="360" />
      </li>
      <li class="illustrations-item">
        <img src="../img/mobile.jpg" alt="Mobile solutions" width="360" />
      </li>
      <li class="illustrations-item">
        <img
          src="../img/interaction.jpg"
          alt="Desctop and mobile interaction"
          width="360"
        />
      </li>
    </ul>
  </div>
</section>
