<section class="portfolio">
  <div class="container">
    <h1 class="porfolio-title visually-hidden">Our Portfolio</h1>

    <!-- Filters -->
    <ul class="filter-list list">
      <li class="filter-item">
        <button type="button" class="filter-button button">All</button>
      </li>
      <li class="filter-item">
        <button type="button" class="filter-button button">Web Site</button>
      </li>
      <li class="filter-item">
        <button type="button" class="filter-button button">App</button>
      </li>
      <li class="filter-item">
        <button type="button" class="filter-button button">Design</button>
      </li>
      <li class="filter-item">
        <button type="button" class="filter-button button">Marketing</button>
      </li>
    </ul>

    <!-- Our work -->
    <ul class="projects-list list">
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/businesscards.jpg"
              alt="Digital desktop with business cards"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Banking App Interface Concept</h2>
            <p class="card-text">App</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/paywithphone.jpg"
              alt="A person pays with a smartphone"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Cashless Payment</h2>
            <p class="card-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/relaxingscreen.jpg"
              alt="Relaxing screen theme on various devices"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Meditaion App</h2>
            <p class="card-text">App</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/steeringwheel.jpg"
              alt="A person holds the steering wheel in a superior automobile"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Taxi Service</h2>
            <p class="card-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/screenillstrations.jpg"
              alt="Nice different screen illustrations on a smartphone"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Screen Illustrations</h2>
            <p class="card-text">Design</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/girlwithearbuds.jpg"
              alt="A girl with earbuds"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Online Courses</h2>
            <p class="card-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/instacards.jpg"
              alt="Cards with gorgeous people and different digital devices"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Instagram Stories Concept</h2>
            <p class="card-text">Design</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/netbagfruits.jpg"
              alt="A young woman with fruits and vegetables in a net bag"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Organic Food</h2>
            <p class="card-text">Web Site</p>
          </div>
        </a>
      </li>
      <li class="project-card">
        <a class="card-link link" href="">
          <div class="card-img-wrap">
            <div class="card-overlay">
              <p>
                14 Stylish and User-Friendly App Design Concepts · Task Manager
                App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
                Storage App
              </p>
            </div>
            <img
              class="card-image"
              src="../img/coffee.jpg"
              alt="A barista pours milk into a cup of coffee"
            />
          </div>
          <div class="card-thumb">
            <h2 class="card-subtitle">Fresh Coffee</h2>
            <p class="card-text">Web Site</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
