<ul class="social-list list">
  <li class="social-item">
    <a href="" class="social-link">
      <svg class="social-icon">
        <use href="../img/sprite.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link">
      <svg class="social-icon">
        <use href="../img/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link">
      <svg class="social-icon">
        <use href="../img/sprite.svg#linkedin"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a href="" class="social-link">
      <svg class="social-icon">
        <use href="../img/sprite.svg#twitter"></use>
      </svg>
    </a>
  </li>
</ul>
