/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./reset.css');
@import url('./components.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./ourwork.css');
@import url('./ourteam.css');
@import url('./customers.css');
@import url('./portfolio.css');
@import url('./modal-order.css');

:root {
  /* IRIS */
  --color-primary-brand: #4c59e6;
  /* OCEAN */
  --color-pressed-state: #404bbf;
  /* NAVY BLUE */
  --color-dark: #2e2f42;
  /* GREEN */
  --color-success: #31d0aa;
  /* SLATE */
  --color-text: #434455;
  /* LIGHT SLATE */
  --color-subtle-text: #8e8f99;
  /* CORNFLOWER */
  --color-accent: #e7e9fc;
  /* CLOUD */
  --color-light: #f4f4fd;
  /* NAVY BLUE MODAL*/
  --color-modal-overlay: rgba(46, 47, 66, 0.4);
  /* GREY */
  --color-hero-background: rgba(46, 47, 66, 0.7);
  /* WHITE */
  --color-white: #fff;
}
